################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/search 10/v15/Server/sqlite3
/.vs/search 10/v15/sqlite3
/search 10/bin/Debug/main
/search 10/bin/Debug
